body {
    background: url(polska.png) no-repeat center fixed;
    background-size: 100% 100%;
}

h1 {
    color: red;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 15px 10px 20px;
}

a {
    color: blue;
    text-decoration: none; /* Usuwa podkreślenie z linków */
    margin-left: 20px;
}
